/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}


.tabellenfuehrerClass {
  background-color: #52ff3d;
}
.championsLeagueClass {
  background-color: #0000FF;
}
.europaLeagueClass {
  background-color: #ff3a3a;
}
.relegationClass {
  background-color: rgb(248, 253, 255);
}
.mittelfeldClass {
  background-color: rgb(255, 157, 43);
}
.abstiegClass {
  background-color: rgb(255, 70, 67);
}

