/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}


.tabellenfuehrerClass {
  background-color: #5ab362;
  margin-bottom: 8px;
}
.championsLeagueClass {
  background-color: #0000FF;
  margin-bottom: 8px;
}
.europaLeagueClass {
  background-color: #0f91ff;
  margin-bottom: 8px;
}
.mittelfeldClass {
  background-color: rgb(132, 137, 139);
  margin-bottom: 8px;
}
.relegationClass {
  background-color: rgb(255, 157, 43);
  margin-bottom: 8px;
}
.abstiegClass {
  background-color: rgb(255, 70, 67);
  margin-bottom: 8px;
}

.textPointer {
  cursor: text;
}

